<template>
  <v-container>
    <v-row v-if="loading">
      Loading
    </v-row>
    <v-row v-else class="mt-6">
      <v-col md="6" cols="12" sm="12">
        <v-avatar size="86">
          <img
            height
            :src="profile.thumbnail"
            alt="Profile Picture"
          >
        </v-avatar>
        <p class="title mt-2">{{profile.name}}</p>
        <p class="body-2">
          <span class="font-weight-bold">{{profile.following}}</span> Subscribing
          <span class="font-weight-bold">{{profile.followers}}</span> Subscribers
        </p>
      </v-col>
      <v-col v-if="profile" md="6" cols="12" style="position:relative">
        <div class="top-right d-flex">
          <p class="mr-6">
            <span class="caption">24 hours</span> <br>
            <span class="font-weight-bold" :class="profile.daily_score < 0 ? 'red--text':'green--text'">{{profile.daily_score.toFixed(2)}}%</span>
          </p>
          <p class="mr-6">
            <span class="caption">30 Days</span> <br>
            <span class="font-weight-bold" :class="profile.monthly_score < 0 ? 'red--text':'green--text'">{{profile.monthly_score.toFixed(2)}}%</span>
          </p>
          <p>
            <span class="caption">All</span> <br>
            <span class="font-weight-bold" :class="profile.all_time_score < 0 ? 'red--text':'green--text'">{{profile.all_time_score.toFixed(2)}}%</span>
          </p>
        </div>
      </v-col>
      <v-col md="6" cols="12">
        <ProfitChart/>
        <br>
        <TradingStyle :profile="profile"/>
      </v-col>
      <v-col md="6" cols="12">
        <TokenDistribution :profile="profile"/>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import ProfitChart from './components/profit-chart'
import TradingStyle from './components/trading-style'
import TokenDistribution from './components/token-distribution'
export default {
  components:{
    ProfitChart,
    TradingStyle,
    TokenDistribution
  },
  data(){
    return {
      loading: false
    }
  },
  computed:{
    ...mapGetters({
      userId: 'auth/getUserId',
      profile: 'profile/getProfileInfo'
    })
  },
  methods: {
    ...mapActions({
      fetchProfileInfo: 'profile/fetchProfileInfo'
    }),
    async getInfo() {
      this.loading = true
      await this.fetchProfileInfo(this.userId)
      this.loading = false
    }
  },
  mounted(){
    this.getInfo()
  }
}
</script>
<style scoped>
.top-right{
  position: absolute;
  right: 0;
  bottom: 0;
}
</style>
