<template>
  <v-menu>
    <template v-slot:activator="{ on, attrs }">
        <v-btn
        :dark="dark"
        icon
        v-bind="attrs"
        v-on="on"
        >
        <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
        <span :class="dark ? 'white--text': ''">{{selected.symbol}}</span>
    </template>

    <v-list>
        <v-list-item
        v-for="(c, i) in currencies"
        :key="i"
        @click="selectCurrency(c)"
        >
        <v-list-item-title>{{ c.symbol }}</v-list-item-title>
        </v-list-item>
    </v-list>
    </v-menu>
</template>

<script>
export default {
    props:{
      dark:{
        required: false,
        default: false,
        value: Boolean
      }
    },
    data: () => ({
      selected: '',
      currencies: [
      ],
    }),
    computed:{
      currency: {
        get: function(){
          return this.$store.getters['profile/getCurrency']
        },
        set: function(c){
          this.$store.commit('profile/setCurrency',c)
        }
      }
    },
    watch:{
      currency(newVal){
        this.selected = newVal
      }
    },
    methods:{
      async fetchCurrencies(){
        try {
          let response = await this.$axios.get('currency/all')
          this.currencies = response.data
        } catch(e){
          console.log(e)
        }
      },
      selectCurrency(c){
        this.currency = c
      },
      logout(){
        localStorage.removeItem('token')
        this.$router.go({name:'login'})
      }
    },
    mounted(){
      this.fetchCurrencies()
      let savedCurrency = JSON.parse(localStorage.getItem("currency"))
      if(savedCurrency){
        this.currency = savedCurrency
      } else {
        this.selected = this.currency
      }

    }
  }
</script>

<style>

</style>