<template>
  <v-app-bar
      app
      color="primary"
      elevation="0"
      height="64"
      class="d-flex justify-center"
    >
      <div class="nav_content">
        <div class="d-flex align-start">
          <router-link to="/">
            <v-img
              alt="Logo"
              class="shrink mr-2"
              contain
              src="@/assets/logo.png"
              transition="scale-transition"
              width="200"
              height="28"
            />
          </router-link>
        </div>
      </div>

      <v-spacer></v-spacer>
      <v-btn v-if="isLoggedIn" class="mr-2" dark text @click="logout">
        Logout
      </v-btn>
      <select-currency :dark="true"></select-currency>
    </v-app-bar>
</template>

<script>
import SelectCurrency from './select-currency'
  export default {
    components:{
      SelectCurrency
    },
    computed:{
      isLoggedIn: function(){
        return this.$store.getters['auth/getToken']
      }
    },
    methods:{
      logout(){
        localStorage.removeItem('token')
        this.$router.go({name:'login'})
      }
    }
  }

</script>

<style>

</style>