<template>
  <div class="top-crypto">
    <h2 class="body-1 mb-6">Top Cryptocurrencies</h2>
    <v-row>
    <v-col class="pa-0 ma-0" v-for="(crypto,i) in cryptoTop" :key="i" md="4">
        <div>
        <v-list-item-avatar size="18">
            <v-img :src="crypto.logo"></v-img>
        </v-list-item-avatar>
        <span class="caption font-weight-bold mr-2">{{crypto.symbol}}</span>
        <span class="caption text--disabled mr-2">{{(crypto.price/currency.value).toFixed(2)}} {{currency.symbol}}</span>
        <span 
        class="caption" 
        :class="(!crypto.change_24 || crypto.change_24 < 0) ? 'red--text' : 'green--text'"
        >
        {{crypto.change_24 ? crypto.change_24 + '%' : 'No Info'}}</span>
        </div>
    </v-col>
    </v-row>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data: () => ({
      cryptoTop: []
    }),
    computed:{
      ...mapGetters({
        currency: "profile/getCurrency"
      })
    },
    methods:{
        async getCryptoInfo(){
        try {
          let crypto = await this.$axios.get('https://api.leagueoftraders.io/v2/price/binance')
          this.cryptoTop = crypto.data.slice(0,6)
        } catch(e) {
          console.log(e)
        }
      },
    },
    mounted(){
      this.getCryptoInfo()
    }
}
</script>

<style>

</style>