<template>
  <v-card
    class="mx-auto text-center"
    max-width="600"
    elevation="0"
    outlined
  >
    <v-card-title>Profit</v-card-title>
    <v-card-text>
        <line-chart :round="6" :dataset="{borderWidth: 2}" suffix="%" :data="customGraph"></line-chart>
    </v-card-text>
  </v-card>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    components:{
    },
    data: () => ({
      value: [],
    }),
    computed:{
        ...mapGetters({
            userId: 'auth/getUserId'
        }),
        customGraph(){
            let newdata = {}
            for(let data of this.value){
                newdata[data.day] = data.score
            }
            return newdata
        }
    },
    methods:{
        async fetchGraphData(){
            try {
                let response = await this.$axios.get(`pgraph/${this.userId}`)
                this.value = response.data
            } catch(e){
                console.log(e)
            }
        }
    },
    mounted(){
        this.fetchGraphData()
    }
}
</script>

<style>

</style>