<template>
    <v-card
        max-width="600"
        elevation="0"
        outlined
    >
        <v-card-title>
            <span>Token Distribution </span>
            <v-spacer></v-spacer>
            <select-currency></select-currency>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-col md="3">
                    <span>Symbol</span> <br>
                    <span>Profit Rate</span>
                </v-col>
                <v-col md="3">
                    <span>Buy Average</span> <br>
                    <span>Market Price</span>
                </v-col>
                <v-col md="3">
                    <span>Investment</span> <br>
                    <span>Exchange</span>
                </v-col>
                <v-col md="3" class="px-1">
                    <span>Current Amount</span> <br>
                    <span>Profit</span>
                </v-col>
            </v-row>
            <v-row v-for="(data,i) in profile.latest_summary" :key="i">
                <v-col md="3">
                    <span>
                    <v-avatar size="18">
                    <img
                        height
                        :src="data.logo"
                    >
                    </v-avatar>
                    {{data.symbol}}</span> <br>
                    <span :class="data.profit < 0 ? 'red--text':'green--text'">{{(data.profit).toFixed(2)}}%</span>
                </v-col>
                <v-col md="3">
                    <span>{{(data.avg_buy_price/currency.value).toFixed(2)}} {{currency.symbol}}</span> <br>
                    <span>{{(data.current_price/currency.value).toFixed(2)}} {{currency.symbol}}</span>
                </v-col>
                <v-col md="3">
                    <span>{{((data.amount * data.avg_buy_price)/currency.value).toFixed(2)}} {{currency.symbol}}</span> <br>
                    <span>{{data.exchange}}</span>
                </v-col>
                <v-col md="3" class="px-1">
                    <span class="font-weight-bold">{{(data.amount).toFixed(2)}}</span> <br>
                    <span :class="data.unrealised_pnl < 0 ? 'red--text':'green--text'">{{(data.unrealised_pnl/currency.value).toFixed(2)}} {{currency.symbol}}</span>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
import {mapGetters} from 'vuex'
import SelectCurrency from '@/components/select-currency'
export default {
    components:{
        SelectCurrency
    },
    props:{
        profile:{
            required: true
        }
    },
    computed:{
      ...mapGetters({
        currency: "profile/getCurrency"
      })
    }
}
</script>

<style>

</style>