<template>
  <v-card
        class="mx-auto text-center"
        max-width="600"
        elevation="0"
        outlined
    >
        <v-card-title>Trading Style</v-card-title>
        <v-card-text>
        <v-row>
            <v-col md="6">
            <span class="body-1 font-weight-bold black--text">{{(profile.analytics.average_hold_seconds_per_month / 30).toFixed(2)}}</span> <br>
            <span class="caption">Hold Average</span>
            </v-col>
            <v-col md="6">
            <span class="body-1 font-weight-bold black--text">{{(profile.analytics.average_trade_count_per_month/30).toFixed(2)}}</span> <br>
            <span class="caption">30d Trade Frequency</span>
            </v-col>
            <v-col class="text-left" md="12">
            <span class="font-weight-bold">Profitable Trade Ratio</span>
            <v-progress-linear
                class="mt-2"
                :value="profile.analytics.win_trade / (profile.analytics.win_trade+profile.analytics.lose_trade) * 100"
                height="25"
                rounded
                color="green"
            >
                <strong class="white--text"> Win {{ (profile.analytics.win_trade / (profile.analytics.win_trade+profile.analytics.lose_trade) * 100).toFixed(2) }}%</strong>
            </v-progress-linear>
            </v-col>
        </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props:{
        profile: {
            require: true
        }
    }
}
</script>

<style>

</style>