<template>
  <v-app>
    <top-navigation></top-navigation>
    <v-main>
      <div class="d-flex justify-center">
        <div class="main_content">
          <router-view/>
        </div>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import TopNavigation from "@/components/top-navigation-bar"
export default {
  components:{
    TopNavigation
  }
}
</script>

<style lang="css">
.main_content {
  width: 1024px;
}
.nav_content {
  width: 1024px;
}
</style>
