<template>
  <div class="text-center">
    <v-form @submit.prevent="login" v-model="valid" class="d-flex align-center" style="height:80vh">
      <v-container>
        <v-row align="center" justify="center">
          <v-col cols="12">
            <div>
              <h1 class="display-1">Welocome to League of Traders</h1>
              <p class="body-2" style="color:#455A64">Start social trading with League of Traders.</p>
            </div>
          </v-col>
          <v-col
            cols="12"
            md="4"
          >
            <v-text-field
              dense
              outlined
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>
            <v-text-field
              dense
              outlined
              type="password"
              v-model="password"
              label="Password"
              required
            ></v-text-field>
            <p v-if="errorMessage" class="caption red--text mt-n5 mb-1">{{errorMessage}}</p>
            <v-btn
              block
              elevation="0"
              :disabled="!valid"
              :loading="loading"
              type="submit"
              color="success"
              class="mr-4"
            >
              Sign in
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <TopCrypto/>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import TopCrypto from './components/top-crypto'
export default {
    components:{
      TopCrypto
    },
    data: () => ({
      loading: false,
      valid: false,
      password: '',
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      errorMessage: ''
    }),
    
    methods:{
      ...mapActions({
        authenticate: 'auth/authenticate'
      }),
      async login(){
        this.loading = true
        let user = {
          email: this.email,
          password: this.password
        }
        let response = await this.authenticate(user)
        if(response == 200) this.$router.go({name:"profile"})
        else this.errorMessage = response
        this.loading = false
      }
    }
  }
</script>
<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: #EDEFF1;
}
</style>
